id ICON "im.ico"
GLFW_ICON ICON "im.ico" 
101 ICON "icons/imd.ico"

1 VERSIONINFO
FILEVERSION     2,3,0,0
PRODUCTVERSION  2,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "ETH Zurich / MattRM2 fork"
      VALUE "FileDescription", "Instant Meshes 2.4.0 (MattRM2 fork, native Alembic and USD)"
      VALUE "FileVersion", "2.4.0"
      VALUE "InternalName", "Instant Meshes"
      VALUE "LegalCopyright", "Wenzel Jakob, Marco Tarini, Daniele Panozzo, Olga Sorkine-Hornung"
      VALUE "OriginalFilename", "InstantMeshes.exe"
      VALUE "ProductName", "Instant Meshes"
      VALUE "ProductVersion", "2.4.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
